#berkarir{
	width: 1440px;
	height: 900px;
	margin: 0 auto;
}

#berkarir img{
	width: 100%;
	margin-top: -3px;
}

#berkarir_text{
	position: relative;
	top: -620px;
	background-color: rgba(0, 106, 180, 0.83);
	border-radius: 0px 18px 18px 0px;
	width: 546px;
	height: 341px;
}

#berkarir_text h1{
	color: #FFFFFF;
	margin-left: 80px;
	position: relative;
	top: 60px;
}

#berkarir_text p{
	color: #FFFFFF;
	margin-left: 80px;
	margin-top: 70px;
}

button.pelajari_selengkapnya{
	border: 3px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 20px;
	width: 281px;
	height: 37px;
	font-weight: 500;
	font-size: 17px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
	margin-left: 80px;
	margin-top: 28px;
	padding-top: 2px;
	padding-bottom: 2px;
}

button.pelajari_selengkapnya:hover{
	background: #FFFFFF;
	border: none;
	color: #006AB4;
}

button.pelajari_selengkapnya:active{
	background: #10507D;
	border: 3px solid #FFFFFF;
	color: #ffffff;
}

#lowongan{
	margin: 0 auto;
	width: 1440px;
	height: 1000px;
}

#lowongan h2{
	margin-left: 80px;
}

.cards_cont{
	margin-left: 28px;
}

.cards{
	float: left;
	width: 392px;
	height: 364px;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px #A9D3F0;
	border-radius: 31px;
	margin-left: 52px;
	margin-top: 50px;
}

.cards h3{
	width: 250px;
	padding: 35px 74px 0px 74px;
	height: 115px;
	line-height: 36px;
}

.cards p{
	width: 250px;
	padding: 8px 74px 3px 74px;
	height: 110px;
}
.cards button{
	margin-top: 15px;
}

.cards button, #testimoni button#lebih_lanjut_testimoni{
	background-color: #006AB4;
	border: 3px solid #006AB4;
	box-sizing: border-box;
	width: 170px;
	height: 35px;
	border-radius: 20px;
	margin-left: 70px;
	font-weight: 500;
	font-size: 17px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 0.02em;
}

.cards button:hover{
	background-color: #FFFFFF;
	border: 3px solid #006AB4;
	color: #006AB4;
}

.cards button:active{
	background-color: #10507D;
	border: none;
	color: #ffffff;
}

img.mid_bg{
	width: 100%;
	position: relative;
	z-index: -1;
	margin-top: -360px;
}

#testimoni{
	margin: 0 auto;
	width: 1440px;
	height: 720px;
}

#testimoni h2{
	margin-left: 80px;
}

#testimoni button#lebih_lanjut_testimoni{
	position: relative; 
	top: -42px;
	left: 240px;
}

#testimoni button#lebih_lanjut_testimoni:hover{
	background-color: #FFFFFF;
	border: 3px solid #006AB4;
	color: #006AB4;
}

#testimoni button#lebih_lanjut_testimoni:active{
	background-color: #10507D;
	border: none;
	color: #ffffff;
}

div.redbox h3{
	color: #FFFFFF;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 52px;
	width: 518px;
	background: #EF4B4B;
	border-radius: 36.5px;
	margin-top: 40px;
	margin-left: 107px;
	position: relative;
}

div.greybox{
	background-color: #F5F5F5;
	width: 851px;
	height: 307px;
	border-radius: 27px;
	margin-left: 107px;
	margin-top: -40px;
}

div.greybox p{
	width: 520px;
	position:relative;
	top: 109px;
	left: 89px;
}

img.testimoni_profile{ 
	width: 577px;
	margin-top: -525px;
	margin-left: 780px;
}

#arrow_buttons{
	margin-top: -335px; 
	margin-left: 80px;
}

#testimoni button.arrow{
	z-index: 2;
}

#testimoni button.arrow span{
	height: 59px;
	width: 59px;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	display: inline-block;
}

#testimoni button.arrow img.active_arrow{
	display: none;
	margin-top: 98px;
	width: 14px;
	height: 25px;
}

.active_arrow#left{
	margin-left: -15px;
}

.active_arrow#right{
	margin-left: -15px;
}

#left_arrow{
	float: left;
}

#right_arrow{
	float: right;
	margin-left: 1156px;
	z-index: 2;
}

#testimoni button span img{
	margin-top: 16px;
	width: 14px;
	height: 25px;
}

#testimoni button span img#left_arrow{
	margin-left: 19px;
}

#testimoni button span img#right_arrow{
	margin-right: 19px;
}

#testimoni button.arrow span:active{
	background-color: #FECF22;
}

#testimoni button.arrow span#left_arrow:active .active_arrow#left{
	display: block;
	margin-left: 23px;
	margin-top: -32px;
}

#testimoni button.arrow span#right_arrow:active .active_arrow#right{
	display: block;
	margin-left: 23px;
	margin-top: -32px;
}