footer{
	height: 394px;
	width: 100%;
	background-color: #662C0B;
}

div.newsletter{
	margin-left: 146px;
	position: relative;
	top: 90px;
	width: 600px;
}

div.smaller_p{
	font-weight: normal;
	font-size: 19px;
	line-height: 27px;
	color: #FFFFFF;
	width: 491px;
}

div.newsletter input{
	margin-top: 20px;
}

div.newsletter button{
	position: absolute;
	top: 110px;
	left: 438px;
	box-shadow: none;
}

.input_arrow{
	width: 20px;
	height: 13px;
	padding: 23px 53px;
	background-color: #FEB204;
	border-radius: 0px 10px 10px 0px;
}

.input_arrow:active{
	background-color: #C96304;;
}

#footerpop{
	width: 564px;
	height: 408px;
	background: #FAC404;
	position: fixed;
	z-index: 40;
	margin: 0 auto;
	top: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.35s;
}

.chick_popup{
	position: absolute;
	width: 199px;
	bottom: 0;
	right: 0;
	z-index: -2;
}

div#footerpop div.text_popup{
	margin-left: 53px;
	margin-top: 40px;
}

div#footerpop div.text_popup div.popup_subheading{
	margin-top: -15px;
}

div#footerpop div.text_popup p{
	width: 320px;
	margin-top: 20px;
}

div#footerpop div.text_popup button{
	width: 197px;
	height: 42px;
	padding-bottom: 2px;
	background: #AB140E;
	border-radius: 22px;
	margin-top: 35px;
}

div#footerpop div.text_popup button:hover{
	box-shadow: none;
}

div#footerpop div.text_popup button:active{
	box-shadow: none;
	background: #58100D;
}

div.socmed{
	float: left;
	margin-left: 1075px;
	margin-top: 38px;
}

div.socmed a{
	display: inline-block;
	width: 53px;
	height: 53px;
	margin-left: 20px;
}

div.socmed img{
	float: left;
	width: 53px;
}

div.copyright{
	float: left;
	margin-top: 80px;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 18px;
	width: 100%;
	padding-top: 19px;
	padding-bottom: 19px;
	text-align: center;
	color: #FFFFFF;
	background-color: #421C06;
}

.chick_popup_resp{
	display: none;
}

@media (max-width: 500px){
	footer{
		height: 431px;
	}

	div.newsletter{
		margin-left: 27px;
		top: 76px;
		width: 446px;
	}

	div.smaller_p{
		font-size: 18px;
		line-height: 24px;
		width: 446px;
		margin-top: 8px;
	}

	div.newsletter input{
		margin-top: 20px;
	}

	#footerpop{
		width: 446px;
		height: 352px;
	}

	.chick_popup{
		display: none;
	}

	.chick_popup_resp{
		display: block;
		position: absolute;
		width: 150px;
		bottom: 0;
		right: 0;
		z-index: -2;
	}

	div#footerpop div.text_popup{
		margin-left: 59px;
		margin-top: 47px;
	}

	div#footerpop div.text_popup div.popup_subheading{
		margin-top: -5px;
	}

	div#footerpop div.text_popup p{
		width: 280px;
	}

	div#footerpop div.text_popup button{
		width: 210px;
		height: 44px;
		padding-bottom: 2px;
		margin-top: 28px;
	}

	div#footerpop div.text_popup button:hover{
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	}

	div#footerpop div.text_popup button:active{
		box-shadow: none;
		background: #58100D;
	}

	div.newsletter button{
		position: absolute;
		top: 112px;
		left: 354px;
	}

	.input_arrow{
		width: 26px;
		height: 14px;
		padding: 22px 33px 23px 33px;
		background-color: #FEB204;
		border-radius: 0px 7px 7px 0px;
	}

	.input_arrow:active{
		background-color: #C96304;;
	}

	div.socmed{
		float: left;
		margin-top: 120px;
		margin-left: 26px;
	}

	div.socmed a{
		width: 59px;
		height: 59px;
		margin-left: 0px;
	}

	div.socmed img{
		float: left;
		width: 33px;
		height: 33px;
		padding: 12px 13px 13px 13px;
	}

	div.copyright{
		margin-top: 55px;
		font-size: 15px;
		padding-top: 18px;
		padding-bottom: 18px;
	}

}






















