body{
	background-image: url('images/process.png');
}

.processopt{
	width: 25%;
	margin-left: 6%;
	margin-top: 13%;
	cursor: pointer;
}

.processopt:hover{
	 filter: drop-shadow(3px 3px 5px rgba(0, 79, 49, 0.6));
}

.helppopup img.close{
    float: right;
    margin-right: -27px;
    margin-top: -30px;
    width: 28px;
    cursor: pointer;
}

.processvideo{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
}

.processvideovid{
	width: 100vw;
	height: 100vh;
}

.backbuttonvid{
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 10000000000000;
    left: 30px;
    top: 30px;
    display: none;
    cursor: pointer;
}

.soundoptions{
    background-color: transparent;
    width: 60px;
    height: 40px;
    border: none;
    background-size: contain;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    left: 30px;
}

.soundoptionsplay{
    background-image: url('images/icon/vol.png');
    background-repeat: no-repeat;
}

.soundoptionspause{
    background-image: url('images/icon/mute.png');
    background-repeat: no-repeat;
}

#startbtn{
    display: block;
}

.backbtnpopup{
    height: 26%;
    top: 27%;
    left: 30%;
    overflow: hidden;
}

.heading{
    font-family: 'Lexend Deca';
    font-weight: 600;
    color: #5785f6;
    font-size: 40px;
    text-align: center;
}

.backbtnpopup .start2{
    width: 190px;
    margin-left: 17px;
    float: left;
    border: 3px #13448d solid;
    margin-top: 20px;
}

.exit{
    background-color: white;
    color: #13448d;
}

.start2:hover{
    background-color: #053670;
    border: 3px #053670 solid;
}

.start2:active{
    background-color: #05294c;
    border: 3px #05294c solid;
}

.exit:hover{
    background-color: #e9f1fc;
    border: 3px #053670 solid;
}

.exit:active{
    background-color: #e9f1fc;
    border: 3px #05294c solid;
}