.homebtn{
	width: 30px;
	height: auto;
	margin-left: 30px;
	cursor: pointer;
}

a{
	text-decoration: none;
}

.homebtn img{
	width: inherit;
	height: inherit;
}

.homebtn img:hover{
	opacity: 0.8;
}


.homebtn img:active{
	opacity: 0.6;
}

p#introtexts{
	color: white;
	font-size: 16pt;
	line-height: 22pt;
	text-align: center;
	width: 40%;
	margin-left: 30%;
	margin-top: 18%;
}

#skip{
	color: white;
	font-size: 15pt;
	font-weight: 300;
	font-family: Lexend Deca;
	margin-left: 30px;
	display: block;
	padding: 7px;
	text-align: center;
	border-radius: 30px;
	width: 120px;
	background: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	text-decoration: none;
}

#skip:hover{
	opacity: 0.7;
}

#skip:active{
	opacity: 1;
	font-weight: 400;
}

.arrowcon:hover{
	opacity: 0.7;
}

.arrowcon:active{
	opacity: 1;
	font-weight: 400;
}
.arrows{
	width: inherit;
	height: inherit;	
}
.arrowcon{
	position: fixed;
	background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#next1{
    bottom: 30px;
    right: 170px;
}

#next2{
    bottom: 30px;
    right: 170px;
    display: none;
}
#next3{
    bottom: 30px;
    right: 170px;
    display: none;
}
#prev2{
    bottom: 30px;
    right: 220px;
    display: none;
}
#prev3{
    bottom: 30px;
    right: 220px;
    display: none;
}